
@{
    ViewBag.Title = "Trần Đăng Dương - Index";
}

<h2>Trần Đăng Dương - Index</h2>
<hr/>
<h3> Hiển thị dữ liệu action trong controller</h3>
<h4>FullName: @ViewBag.fullName</h4>
<h4>Ngày Sinh: @ViewData["birthday"]</h4>
<h4>Số Điện Thoại:@TempData["Phone"]</h4>


