@{
    ViewBag.Title = "Trần Đăng Dương";
}
<h2>@ViewBag.Title.</h2>
<h3>Bài Thi giữa kỳ của Trần Đăng Dương-Cma kết không chép bài bạn</h3>

<address>
   K22CNT2-Môn lập trình web với công nghệ Asp.net mvc5
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:chungtrinhj@gmail.com">chungtrinhj@gmail.com</a><br />
    <strong>Cá nhân:</strong> <a href="mailto:duongdangtran54321@gmail.com">duongdangtran54321@gmail.com</a>
</address>